<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftCourse2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D55E21F41EEC6031009A4051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D55E22081EEC6032009A4051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D55E22131EEC6032009A4051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
